body {
    background-color: #f8f9fa;
    color: #212529;
    font-family: 'Arial', sans-serif;
    background-image: url('/public/pattern-background-desktop-light.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

body.dark-mode h1{
    color : #f8f9fa;
}
h1, p {
    color: #495057;
}

.toggle-switch {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
body.dark-mode h1 strong{
    color:white;
}
.toggle-input {
    display: none;
}

.toggle-label {
    width: 40px;
    height: 20px;
    background-color: #6c757d;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-label::before {
    content: "";
    width: 18px;
    height: 18px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: transform 0.3s;
}

.toggle-input:checked + .toggle-label {
    background-color: #6610f2;
}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(20px);
}

body.dark-mode {
    background-color: #212529;
    color: #f8f9fa;
    background-image: url('/public/pattern-background-desktop-dark.svg');
}

.toggle-icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}
